h1 {
text-align: center;
background-image: url(/images/apple-pie.jpg);
background-size: cover;

}   
body {
    text-align: left;
  
}
h3{
    background-color: white;
}
h4 {
    background-color: white;
}